.playerForm {
	display: flex;
	flex: 1;
	margin: 1rem;
	background-color: #f3f3f3;
	border-radius: 5px;
	transition: 0.25s;
	box-shadow: 0px 0px #f3f3f3;
}

.playerFormWinner {
	opacity: 1;
}

.playerFormLoser {
	overflow: hidden;
	transition: 0.25s;
	flex: 0;
	margin: 0;
	opacity: 0;
}

.lowOpacity {
	opacity: 0.6;
}

.myTurn {
	box-shadow: 0px 7px green;
}

.notMyTurn {
	box-shadow: 0px 5px red;
}

.heading {
	display: flex;
}

.heading > h3 {
	flex-grow: 1;
}

.ppArea {
	display: flex;
	flex-direction: column;
	margin: auto;
	/*padding-left: 3px;*/
	max-height: 100%;
	max-width: 33.33%;
	transition: 0.25s;
}

.ppArea > img {
	max-width: 124px;
	max-height: 100%;
	border-radius: 5px;
}

.formArea {
	flex: 2;
}

.fieldset {
	border-width: 0;
}

.button {
	border-width: 0;
	border-radius: 5px;
	transition: 0.25s;
	cursor: default;
}

.button_reset {
	color: white;
	cursor: pointer;
}

.button_reset:hover .highlightOff {
	color: black;
}

.progressWrapper {
	display: none;
}

.progress {
	margin: 2px;
}

.playerStatusIcons {
	transition: 0.25s;
	padding: 10px;
	border-radius: 4px;
	display: inline;
	color: white;
	margin-bottom: auto;
}

.check {
	background-color: green;
}

.win {
	background-color: gold;
}

.wait {
	background-color: lightgray;
}

.notFound {
	background-color: red;
}

.highlightOff {
	color: lightgray;
}
